#Gallery {
  .list-photos{
    display: flex;
    flex-wrap: wrap;
    
    .photo{
      width: 20%;
      box-sizing: border-box;
      padding: 8px;
      .wrap{
        background: #000;
        min-height: 300px;
        padding: 5px;
        img {
          max-width: 100%;
        }
        h4{
          margin: 0;
          background: #ccc;
          padding: 8px;
        }
      }
    }
  }
}