#Header{
  background: black;
  ul{
    list-style: none;
    display: flex;
    li {
      a {
        padding: 10px 15px;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        font-family: serif;
        display: block;
        &.active{
          background: grey;
        }
      }
    }
  }
}